---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About AstrX"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Nothing about AstrX.
	</p>
</Layout>
